{% extends "base.html" %}

{% block bodyblock %}
    <div class="container">
        <br>    
        <h3 class="content">Face recongition Application</h3>
        <br>
        <p class="content-paragraph">
            Gender classification is an app driven by data and machine learning model.
        </p>
        <br>
        <p class="content-paragraph">
            <span class="content">Steps involved</span>
            <li>You upload an image</li>
            <li>Click to predict</li>
            <li>Get prediction results</li>
        </p>
        <br>
        <h3>Do you want to try it?  <a href="" class="btn btn-outline-primary">Click</a></h3>
        
    </div>
{% endblock %}